{% extends "base.html" %}
{% block title %}{% endblock %}


{% block main %}
    <div class="selectPage">
        <ul>
            <li>
                <a href="./?page={{ page.prev_num }}{{ log }}">
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-up"></i>
                </a>
            </li>

            {% for num in range(pages_near[0],pages_near[1]) %}
                <li class="selectPage__numPage">
                    <a href="./?page={{ num }}{{ log }}">{{ num }}</a>
                </li>
            {% endfor %}

            <li>
                <a href="./?page={{ page.next_num }}{{ log }}">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="page">
        <ul class="errors">

            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}

        </ul>


        <ul class="result">

            {% for item in page.items %}
                <li>
                    <div class="pages__item">
                        {% include item_template %}
                    </div>
                </li>
            {% else %}
                <p>not found</p>
            {% endfor %}

        </ul>
    </div>
    <div class="selectPage">
        <ul>
            <li>
                <a href="./?page={{ page.prev_num }}{{ log }}">
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-up"></i>
                </a>
            </li>

            {% for num in range(pages_near[0],pages_near[1]) %}
                <li class="selectPage__numPage">
                    <a href="./?page={{ num }}{{ log }}">{{ num }}</a>
                </li>
            {% endfor %}

            <li>
                <a href="./?page={{ page.next_num }}{{ log }}">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}

