{% extends "base.html" %}
{% block title %}{{ user.email }}{% endblock %}


{% block main %}
    {% if access(author = user) %}
        <form action="{{ url_for("auth.icon_user",user_id=user.id) }}" method="post" enctype="multipart/form-data">
            {{ form_2.icon }}
            <button type="submit">Icon</button>
        </form>
    {% endif %}

    {% for image in user.icon %}
        <img src="{{ "/"+image.address }}" alt="">
    {% endfor %}

    <a href="{{ url_for("list_items",item="post",author=user.email) }}">{{ "{}'s post".format(user.email) }}</a>

    <ul>
        {# roles #}
        {% for role in user.roles %}
            <li>
                <a href="{{ url_for("list_items",item="user",roles=role.name) }}">{{ role.name }}</a>
            </li>
        {% endfor %}

    </ul>

    {% if access(["God"]) %}
        <form action="{{ url_for("auth.read_user",user_id=user.id ) }}" method="post">
            {{ form.roles }}
            <button type="submit">Save</button>
        </form>
    {% endif %}

    {% if access(["moder"]) %}
        <form action="{{ url_for("auth.ban_user",user_id=user.id ) }}" method="post">
            <button type="submit">

                {% if user.active == 1 %}
                    Ban
                {% else %}
                    Unban
                {% endif %}

            </button>
        </form>
    {% endif %}

{% endblock %}