{% extends "base.html" %}
{% block title %}{% endblock %}


{% block main %}

    <h1>{{ user.email }}</h1>
    <a href="{{ url_for("list_items",item="post",author=user.email) }}">{{ "{}'s post".format(user.email) }}</a>

    <ul>
        {# roles #}
        {% for role in user.roles %}
            <li>
                <a href="{{ url_for("list_items",item="user",roles=role.name) }}">{{ role.name }}</a>
            </li>
        {% endfor %}

    </ul>

    <form action="{{ url_for("auth.read_user",user_id=user.id ) }}" method="post">
        {{ form.roles }}
        <button type="submit"></button>
    </form>

{% endblock %}