<div class="pages__item-email">
    User: <a href="{{ url_for("auth.read_user",user_id=item.id) }}">{{ item.email }}</a>
</div>

<div class="pages__item-roles">
    {% if item.roles %}
        <br><p>Roles</p>
    {% endif %}

    <ul>
        {% for role in item.roles %}
            <li>
                <a href="{{ url_for("list_items",item="user",roles=role.name) }}">{{ role.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if access(["admin"]) %}
    <form action="{{ url_for("delete_item",item_type="user",item_id = item.id ) }}" method="POST">
        <button type="submit">Delete user</button>
    </form>
{% endif %}
{% if access(["moder"]) %}
    <form action="{{ url_for("auth.ban_user",user_id=item.id ) }}" method="POST">
        <button type="submit">Ban. user</button>
    </form>
{% endif %}
<p></p>