{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for("posts.static",filename = "posts/post.css") }}">
{% endblock %}


{% block main %}

    <!-- POST -------------------------------------------------------------------------------------------------------->

    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
    <ul>
        {% for tag in post.tags %}
            <li>
                <a href="{{ url_for("list_items",item="post",tag=tag.name) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for image in images %}
        <img src="{{ "/"+image.address }}" alt="{{ image.id }}">
    {% endfor %}


    <!-- COMMENTS ---------------------------------------------------------------------------------------------------->

    {#  Comment form   #}

    {% if current_user.is_authenticated %}
        <form action="{{ url_for("posts.read_post",post_id = post.id,edit=edit) }}" method="post">

            {{ form.title }}
            {{ form.text }}

            <button type="submit">Comment</button>
        </form>
    {% endif %}

    {#  Comments #}

    <ul>

        {% for comment in comments %}
            <li>
                {#  Comment #}

                <h3>{{ comment.author.email }}</h3>
                <h4>{{ comment.title }}</h4>
                <p>{{ comment.text }}</p>
                <p>{{ comment.created }}</p>

                {# button delete and edit for author and moderator #}
                {% if access(["moder"],author = comment.author) %}

                    <form action="{{ url_for("delete_item",item_type="comment",item_id = comment.id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>


                    <a href="{{ url_for("posts.read_post",post_id = comment.post_parent.id,edit = comment.id) }}">
                        <button type="submit">Edit</button>
                    </a>


                {% endif %}

            </li>
        {% endfor %}

    </ul>

{% endblock %}