<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="header">
    <div class="header__nav">
        <ul>
            <li><a href="{{ url_for("index") }}">HOME</a></li>
            <li><a href="{{ url_for("list_items",item = "post") }}">POSTS</a></li>

            {% if current_user.has_role("moder") %}
                <li><a href="{{ url_for("list_items",item = "tag") }}">TAGS</a></li>
            {% endif %}


            {% if not current_user.is_authenticated %}

                <li><a href="{{ url_for("security.login") }}">LOGIN</a></li>
                <li><a href="{{ url_for("security.register") }}">REGISTRATION</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for("list_items",item = "post",author = current_user.email) }}">MY POST</a></li>
                <li><a href="{{ url_for("posts.create_posts") }}">CREATE POST </a></li>
                <li><a href="{{ url_for("security.logout") }}">LOGOUT</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

<div class="footer">
    <div class="footer__contact">
        <div class="footer__mail">
            <p>test@mail.com</p>
        </div>
        <div class="footer__media">
            <ul>
                <li><a href="#">vk</a></li>
                <li><a href="#">telegram</a></li>
                <li><a href="#">youtube</a></li>
                <li><a href="#">github</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>