{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/list.css") }}">
{% endblock %}

{% block main %}
    <div class="selectPage">
        <ul>
            <li>
                <a
                {% if page.has_prev%}
                     href="./?page={{ page.prev_num }}{{ log }}"
                {% else %}
                    href="./?page={{ page.page }}{{ log }}"
                {% endif %}
                >
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-up"></i>
                </a>
            </li>

            {% for num in range(pages_near[0],pages_near[1]) %}
                <li class="selectPage__numPage">
                    <a href="./?page={{ num }}{{ log }}">{{ num }}</a>
                </li>
            {% endfor %}

            <li>
                <a
                {% if page.has_next%}
                     href="./?page={{ page.next_num }}{{ log }}"
                {% else %}
                    href="./?page={{ page.page }}{{ log }}"
                {% endif %}
                >
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="page">
        <ul class="page__errors">

            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}

        </ul>
        <ul class="page__result">

            {% for item in page.items %}
                <li>
                    <div class="pages__item">
                        {% include item_template %}
                    </div>
                </li>
            {% else %}
                <p>not found</p>
            {% endfor %}

        </ul>
    </div>


{% endblock %}

