{% extends "base.html" %}
{% block title %}Create post{% endblock %}


{% block main %}
    <form action="{{ url_for("create_item",item_type="post") }}" method="post" enctype="multipart/form-data">

        <p>Title</p>
        {{ form.title }}

        <p><br>Text</p>
        {{ form.text }}

        <p><br>Tags</p>
        {{ form.tags }}

        <p><br>Images</p>
        {{ form.images }}

        <button type="submit">Create Post</button>
    </form>
    <br>
    {% if not errors %}
        <p>all ok</p>
    {% endif %}

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

{% endblock %}