{% extends "base.html" %}
{% block title %}{% endblock %}


{% block main %}

    <form action="{{ url_for("edit_item",item_type="post",item_id=item_id) }}"
          method="post" enctype="multipart/form-data">

        <p>Title</p>
        {{ args["form"].title }}

        <p><br>Text</p>
        {{ args["form"].text }}

        <p><br>Tags</p>
        {{ args["form"].tags }}

        <p><br>Images</p>
        {{ args["form"].images }}

        <button type="submit">Save</button>
    </form>

    {% if not errors %}
        <p>all ok</p>
    {% endif %}

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {% for image in args["images"] %}
        <img src="{{ "/"+image.address }}" alt="{{ image.id }}">
        <form action="{{ url_for("delete_item",item_type="image",item_id = image.id) }}" method="POST">
            <button type="submit">Delete image</button>
        </form>
    {% endfor %}

{% endblock %}